html {
    background-color: hsl(229, 25%, 22%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: hsl(229, 36%, 62%);
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: bold;
    border: none;
    background-color: rgba(255, 0, 0, 0);
    transition: color 800ms;
}

button:hover {
    color: rgb(255, 255, 255);
}

#submit {
    pointer-events: none;
    user-select: none;
}

#results {
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: karmina; 
    font-size: 25px;
    background-color: hsl(191, 22%, 35%);
    width: 500px;
    height: 100px;
    border-radius: 25px;
    margin-bottom: 25px;
    user-select: none;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
    margin-bottom: 40px;
}

#playerPanel {
    display: flex;
    flex-direction: column;
}

#scissors {
    align-self: center;
    color: hsl(128, 70%, 62%);
}

#rock {
    align-self: flex-end;
    color: hsl(229, 70%, 62%);
}

#paper {
    align-self: flex-end;
    color: hsl(357, 70%, 62%);
}

#scissors:hover, #rock:hover, #paper:hover {
    color: white;
}

.triInfo {
    align-self: center;
    margin-top: 10px;
    color: hsl(229, 36%, 62%);
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: bold;
}

#dashboard {
    display: flex;
    flex-direction: row;
    background-color: hsl(230, 20%, 30%);
    border-radius: 20px;
}

#spacer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
    margin-bottom: 40px;
}

#compR {
    pointer-events: none;
    color: hsl(230, 20%, 30%);
}

#compP {
    pointer-events: none;
    color: hsl(230, 20%, 30%);
}

#compS {
    pointer-events: none;
    color: hsl(230, 20%, 30%);
}